<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <section>
        <div class="container">
            <h1 class="form-inner__heading pt-2 pb-2">List Products</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Date</th>
                    <th scope="col">Product Origin Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Product Store Code</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% products.forEach(e=>{  %>
                        <tr>
                            <td><%= e.ProductCode %></td>
                            <td><%= e.ProductName %></td>
                            <td><%= e.ProductDate.toLocaleDateString('en-GB') %></td>
                            <td><%= e.ProductOriginPrice %></td>
                            <td><%= e.Quantity %></td>
                            <td><%= e.ProductStoreCode %></td>
                            <td>
                              <a onclick="return confirm('Confirm <%= e.ProductName %> product deletion?')" href="/deleteproduct/<%= e._id %>"  class="btn btn-danger">Delete</a>
                            </td>
                        </tr>        
                    <% }) %>
                </tbody>
              </table>
              <div class="button">
                <a href="/formproduct" class="btn btn-primary">Create Product</a>
              </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>